@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/charukola-reguler-unicode/stylesheet.css');
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'CharuChandan3D', 'sans-serif' !important;
    font-size: 3em;
}

body {
    font-family: 'Charukola Unicode' !important;
    font-weight: bolder;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid green;
}

.haat-bg-info {
    background-color: #c4f5d4;
    width: 83%;
    margin: auto;
}

.categories img {
    width: 100px;
}

.haat-btn-buy-now {
    background-image: linear-gradient(to bottom, #df968c 0%, #ff3434 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    margin-top: 10px;
    font-size: 1.1em;
}

.haat-a {
    text-decoration: none;
}

.ms-n1 {
    margin-left: -3.1rem !important;
}

.br-25 {
    border-radius: 25px;
}

.card:hover .img-animation {
    transform: scale(0.9);
    transition: 3s ease-in-out;
}

h4 {
    font-weight: bold;
}

.custom:hover {
    color: firebrick !important;
}

.custom-font {
    font-size: 1.1em;
}

.custom-hr {
    color: #ff3434;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #c4f5d4;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
    color: green;
}

#myBtn:hover {
    background-color: green;
    color: white;
}

.btn:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.hr-height {
    min-height: 4px;
}

.bg-light-green {
    background-color: #5dc9813f;
}